body{
	/*background-color: white*/
}
table{
	width: 70%;
	margin: 0 15%;
	border:1px solid #ccc;
	padding: 5px;
	text-align: center;
	border-collapse: collapse; 
}

table th{
	padding:5px;
	font-weight: bold;
}

table td {
	color:#222;
	padding:10px;

}
tr:nth-child(even){
	background: #90EE90
}
tr:hover {
	background-color: rgba(204, 204, 204, 0.66);
}
tr.border_bottom  {
	border-bottom:1px solid #ccc;
}
h1{ text-align: center;}

/*.new-expense{
	float: left;
	width: 40%;
	border:1px dashed #ccc;
}
form{ 
	margin: 20px;
}*/
/*.expense-list{
	float: left;
}
*/



